
body {
background-color: lightgray;
}

.quiz-tile {
margin: 10em 10em 20em 10em;
background-color: white;
border-bottom: black 3px solid;
border-left: black 2px solid;
border-top: black 1px solid;
border-right: black 1px solid;
}

h2 {
text-align: center;
font-family: 'Courier New', 'Arial';
border-bottom: 1px black solid; 
font-weight: bold;
}

p {
text-align: center;
font-family: 'Courier New', 'Arial';
font-size: 1.2em;
}

#start-quiz {
    background-color: green;
    color: white;
    font-size: 1.2em;
    font-family: 'Courier New', 'Arial';
    position: relative;
    left: 20em;
    margin-bottom: 1em;
}

#buttonA {
   background-color: white;
   color: back;
   font-size: 1.2em;
   font-family: 'Courier New', 'Arial';
   position: relative;
   margin: 1em 1em 1em 1em; 
}

#buttonB {
    background-color: white;
    color: back;
    font-size: 1.2em;
    font-family: 'Courier New', 'Arial';
    position: relative;
    margin: 1em 1em 1em 1em; 
 }

 #buttonC {
    background-color: white;
    color: back;
    font-size: 1.2em;
    font-family: 'Courier New', 'Arial';
    position: relative;
    margin: 1em 1em 1em 1em; 
 }

 #buttonD {
    background-color: white;
    color: back;
    font-size: 1.2em;
    font-family: 'Courier New', 'Arial';
    position: relative;
    margin: 1em 1em 1em 1em; 
 }